/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media all and (min-width: 960px) {
  .side-menu {
    display: none;
  }
  .header {
    padding: 0;
    background-color: #051014;
    width: 100%;
  }
  .header .navbar-brand img {
    width: 13%;
    display: block;
    margin: 35px auto 0 auto;
  }
  .header .navicon {
    position: fixed;
    top: 10px;
    right: 25px;
  }
  .header .navicon a {
    margin-right: 10px;
  }
  .header .navbar-expand-lg .navbar-collapse {
    width: auto;
    margin: 0 auto;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  html body {
    height: 100%;
    background-color: brown;
  }
  .side-menu {
    width: 250px;
    height: 100%;
    padding: 50px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .side-menu form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px 50px;
    border-radius: 100px;
    border: 1px solid #fff;
  }
  .side-menu form input,
  .side-menu form button {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    color: #fff;
  }
  .side-menu form input:focus,
  .side-menu form button:focus {
    outline: none;
  }
  .side-menu form input {
    width: 230px;
  }
  .side-menu form button {
    width: 50px;
  }
  .side-menu nav ul .Label {
    display: none;
  }
  .side-menu nav li {
    display: block;
    padding: 10px;
    color: chocolate;
    text-decoration: none;
    position: relative;
  }
  .side-menu nav li #side-nav-control {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .side-menu nav li .fas {
    margin-right: -1.1em;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .side-menu nav li:hover .fas {
    margin-right: 0em;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .side-menu nav li::before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
  }
}

.header {
  padding: 0;
  background-color: #051014;
  width: 100%;
}

.header .navbar-brand img {
  width: 13%;
  display: block;
  margin: 35px auto 0 auto;
}

.header .navicon {
  position: fixed;
  top: 20px;
  right: 70px;
}

.header .navicon a {
  margin-right: 10px;
}

.header .navbar-expand-lg .navbar-toggler {
  position: absolute;
  bottom: 75px;
  right: 25px;
}

.header .navbar-expand-lg .navbar-collapse {
  width: auto;
  margin: 0 auto;
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .header {
    padding: 0;
    background-color: #051014;
    width: 100%;
  }
  .header .navbar-brand img {
    width: 120px;
    display: block;
    margin: 35px auto 0 auto;
  }
  .header .navicon {
    position: fixed;
    top: 5px;
    right: 20px;
  }
  .header .navbar-expand-lg .navbar-collapse {
    width: auto;
    margin: 0 auto;
  }
  .header .navbar-expand-lg button {
    position: fixed;
    right: 40px;
    top: 70px;
  }
}

@media all and (max-width: 479px) {
  .header {
    padding: 0;
    background-color: #051014;
    width: 100%;
  }
  .header .navbar-brand img {
    width: 13%;
    display: block;
    margin: 35px auto 0 auto;
  }
  .header .navicon {
    position: fixed;
    top: 5px;
    right: 20px;
  }
  .header .navbar-expand-lg .navbar-collapse {
    width: auto;
    margin: 0 auto;
  }
  .header .navbar-expand-lg .navbar-collapse ul li .nav-link {
    color: #fff;
  }
}

footer .footer-grids {
  margin: 50px auto 0 auto;
}

footer .footer-grids .footericon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px auto;
}

footer .footer-grids .footericon p {
  line-height: 3.5rem;
}

footer .footer-grids .footericon p img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

footer .footer-grids div:last-child {
  background-color: #051014;
  height: 10vh;
  color: #EF6461;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel .carousel-inner {
  max-width: 938px;
  max-height: 550px;
  margin: 20px auto 0 auto;
}

.carousel .carousel-indicators {
  position: absolute;
  bottom: -30px;
  right: 0;
}

@media all and (min-width: 960px) {
  .carousel-inner div:first-child img {
    width: auto;
    max-height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: block;
    margin: 0 auto;
  }
  .carousel-inner div:last-child img {
    width: auto;
    max-height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
  }
}

@media all and (min-width: 760px) and (max-width: 959px) {
  .carousel-inner div:first-child img {
    width: auto;
    max-height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: block;
    margin: 0 auto;
  }
  .carousel-inner div:last-child img {
    width: auto;
    max-height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
  }
}

@media all and (min-width: 480px) and (max-width: 759px) {
  .carousel-inner div:first-child img {
    width: auto;
    max-height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: block;
    margin: 0 auto;
  }
  .carousel-inner div:last-child img {
    width: auto;
    max-height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
  }
}

@media all and (max-width: 479px) {
  .carousel-inner div:first-child img {
    width: auto;
    max-height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: block;
    margin: 0 auto;
  }
  .carousel-inner div:last-child img {
    width: auto;
    max-height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
  }
}
