h3 {
    font-size: 1.3rem;
}
//購物進度條
.shoppingcar-list,
.shoppingcar-list_order {
    display: flex;
    justify-content: center;
    margin: 35px 0 60px 0;
    li {
        span {
            margin: 0 7px;
            font-size: 0.9rem;
        }
    }
    .active {
        color: red;
        span {
            border-bottom: red 1px dashed;
        }
    }
}
