//產品總覽
.products-container {
    margin-top: 25px;
    h2 {
        font-family: "Yusei Magic", sans-serif;
        font-size: 2rem;
        color: $maincolor01;
        padding: 30px 0;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            width: 5px;
            height: 2.5rem;
            display: inline-block;
            background-color: $Secondary-color02;
            margin: 0 1.2rem -3px;
            border-radius: 5px;
        }
    }
    .row {
        .col_hot {
            display: flex;
            flex-direction: row;
            width: auto;
            flex-wrap: wrap;
            justify-content: space-between;
            .shoppingCard {
                width: 300px;
                &:last-child {
                    margin-top: 50px;
                }
                .card-body {
                    div:nth-of-type(2) {
                        display: flex;
                        justify-content: flex-end;
                        margin-bottom: 25px;
                    }
                    .price {
                        display: flex;
                        justify-content: space-between;
                        .sale-price {
                            font-size: 1.2rem;
                            color: #c1272d;
                        }
                        .origin-price {
                            font-size: 1rem;
                            color: #b3b3b3;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }

    //產品介紹
    .pro-p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        p {
            margin: 20px 0;
        }
    }
    .pro-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@include big-pc-width {
}
@include pc-width {
}
@include small-pc-width {
}
@include pad-width {
}
@include phone-width {
}
@include small-phone-width {
}
