footer {
    .footer-grids {
        margin: 50px auto;
        .footericon {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: fit-content;
            margin: 0 auto 20px auto;
            p {
                line-height: 3.5rem;
                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                }
            }
        }
        div {
            &:last-child {
                background-color: $Secondary-color01;
                height: 10vh;
                color: $Secondary-color03;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
