
.carousel {
    .carousel-inner {
        max-width: 938px;
        max-height: 550px;
        margin: 20px auto 0 auto;
    }
    .carousel-indicators{
        position: absolute;
        bottom: -30px;
        right: 0;
    }
}
@include pc-width {
    @include index__carousel01;
    @include index__carousel02;
}
@include pad-width {
    @include index__carousel01;
    @include index__carousel02;
}
@include small-pad-width {
    @include index__carousel01;
    @include index__carousel02;
}
@include phone-width {
    @include index__carousel01;
    @include index__carousel02;
}
