//大型電腦
@include big-pc-width {
    @include index-carousel;
    #carouselExampleIndicators {
        max-width: min-content;
        margin: 0 auto;
        position: relative;
        .carousel-indicators {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0px;
            left: auto;
            right: -220px;
            li {
                width: 18px;
                height: 18px;
                border-radius: 100%;
            }
        }
    }
}
//電腦
@include pc-width {
    @include index-carousel;
    #carouselExampleIndicators {
        max-width: min-content;
        margin: 0 auto;
        position: relative;
        .carousel-indicators {
            display: flex;
            position: absolute;
            bottom: -45px;
            li {
                width: 18px;
                height: 18px;
                border-radius: 100%;
                margin: 0 15px;
            }
        }
    }
}
//小型電腦
@include small-pc-width {
    @include index-carousel;
    #carouselExampleIndicators {
        max-width: min-content;
        margin: 0 auto;
        position: relative;
        .carousel-indicators {
            display: flex;
            position: absolute;
            bottom: -45px;
            li {
                width: 18px;
                height: 18px;
                border-radius: 100%;
                margin: 0 15px;
            }
        }
    }
}
//平板
@include pad-width {
    @include index-carousel-mob;
    #carouselExampleIndicators {
        max-width: min-content;
        margin: 0 auto;
        position: relative;
        .carousel-indicators {
            display: flex;
            position: absolute;
            bottom: -45px;
            li {
                width: 15px;
                height: 15px;
                border-radius: 100%;
                margin: 0 15px;
            }
        }
    }
}
//手機
@include phone-width {
    @include index-carousel-mob;
    #carouselExampleIndicators {
        .carousel-indicators {
            display: flex;
            position: absolute;
            bottom: -45px;
            li {
                width: 15px;
                height: 15px;
                border-radius: 100%;
                margin: 0 15px;
            }
        }
    }
}
//小型手機
@include small-phone-width {
    @include index-carousel-mob;
    #carouselExampleIndicators {
        .carousel-indicators {
            display: flex;
            position: absolute;
            bottom: -45px;
            li {
                width: 15px;
                height: 15px;
                border-radius: 100%;
                margin: 0 15px;
            }
        }
    }
}
