//先針對media queries的width設為變數

$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;

//色碼
$maincolor01:#E6AF2E;
$maincolor02:#6D3D14;
$Secondary-color01:#051014;
$Secondary-color02:#EF6461;
$Secondary-color03:#FBFFFE;

//
